*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: linear-gradient(183.41deg, #67C3F3 -7.77%, #5A98F2 83.77%);
    background-repeat: no-repeat;
}

.header-section{
    height: 130vh;
    width: 100%;
   
}
.text{
    color: #ffcc2a;
    font-family: mulish;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    font-style: normal;
   margin-top: 20px;
   margin-left: 400px;
}
#frame {
    width: 50%;
    height: auto;

}
.search {
    background-color: white;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    color: black;
    font-family: mulish;
    font-weight: bold;
    line-height: 20px;
    font-style: normal;
    margin-left: 650px;
    margin-top: 70px;
}
.search:focus {
    outline: 0;
    background-color: white;
}

.search::placeholder {
    color: #7378c5;
}
.refreshsearch{
    border: 2px solid #7378c5;
    border-radius: 10px;
    font-size: 16px;
    background-color:  #7378c5;;
    color: white;
    font-family: mulish;
    cursor: pointer;
    font-weight: bold;
    line-height: 20px;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    width: 120px;
    height: 40px;
   margin-top: 30px;
   margin-left: 700px;
}
#output {
    margin: 5%;
    background-color: transparent;
}

#output1 {
    margin: 5%;
    background-color: transparent;
}

#output2 {
    margin: 5%;
    background-color: transparent;
}

#output3 {
    margin: 5%;
    background-color: transparent;
}
img{
    width: 330px;
    height: 150px;
    margin-top: 50px;
    margin-left: 50px;
}

ul{
    list-style-type: none;
    margin-top: -100px;
    margin-left: 700px;
    
}
li{
    display: inline;
    text-align: center;
    padding: 30px;
    list-style-type: none;
    
}
input[type=button]{
    width: 120px;;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 16px;
    background-color: white;
    color: #67C3F3;
    font-family: mulish;
    cursor: pointer;
    font-weight: bold;
    line-height: 20px;
    font-style: normal;
    text-align: center;
    text-decoration: none;
}
.button{
    width: 120px;;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 16px;
    background-color: white;
    color: #67C3F3;
    font-family: mulish;
    cursor: pointer;
    font-weight: bold;
    line-height: 20px;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    margin-left: 70px;
    margin-top: -100px;
}
.d-flex{
    margin-top: 10px;
}
.row img{
    width: 90%;
    height: 400px;
    margin-top: 150px;
    margin-left: 50px;
}
.button-exp a{
    position: absolute;
    margin-left: 70px;
    margin-top: -120px;
    font-family: mulish;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 16px;
    background-color: white;
    color: #67C3F3;
    text-decoration: none;
    font-weight: bold;
    width: 120px;
    cursor: pointer;
    text-align: center;
}
p{
    color: #ffcc2a;
    font-size: 40px;
    font-weight: 600;
    line-height: 35px;
    position: absolute;
    margin-left: 70px;
    margin-top: 10px;

}
.image {
    width: 104.6%;
    height: 700px;
    margin-top: -1px;
    margin-left: -70px;
}
 .image img{
    width:96.8%;
    height: 600px;
    margin-top: -1px;
}
.section{
    border: 1px solid white;
    text-align: center;
}
.paragraph  {
    font-family: SwedenSans, lucida console,monaco, monospace;
    font-weight: 700;
    font-size:42px;
    line-height: 1.33333;
    transform: none;
    color: #FFFFFF;
    text-shadow: 0 0 12px rgb(0 0 0 /24%);
    position:relative;
    text-align: center;
    margin-top:-350px;
  
}
.footer-body{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(#67C3F3,#5A98F2);
    color: white;
    font-family: Mulish;
    margin-top: -5px;
}
.logo {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color:#ffcc2a;
    mix-blend-mode: normal;
    width: 40px;
    height: 38px;
    margin-left: 140px;
    margin-top:180px;
    background: white;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    
  }
.logo-name{
    
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #ffcc2a;
    mix-blend-mode: normal;
    margin-left: 190px;
    margin-top: 180px;
    }
    .para1{
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-left: 150px;
    margin-right: 900px;
    margin-top: 225px;
    }
    .para2{
     font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-left: 150px;
    margin-right: 900px;
    margin-top: 285px;
    }
    .para3{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #ffcc2a;
    mix-blend-mode: normal;
    margin-left: 700px; 
    margin-top: 180px; 
    }
           
    .para4{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #ffcc2a;
    mix-blend-mode: normal;
    margin-left: 850px; 
    margin-top: 160px; 
    }
            
    .para5{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #ffcc2a;
    mix-blend-mode: normal;
    margin-left:1060px;
    margin-top:240px ;    
    }
    .para6{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #ffcc2a;
    mix-blend-mode: normal;
    margin-left:1230px ; 
    margin-top:320px ;    
    }
    #showLocals {
    display: none;
    margin-bottom: 2%;
    margin-left: 5%;

    }
            
    #showActivities {
    display: none;
    margin-bottom: 2%;
    margin-left: 5%;
    }
            
    #showRegion {
    display: none;
    margin-bottom: 2%;
    margin-left: 5%;
}
#content{
    display: block;
}
.goodtoknow {
    list-style-type: none;
    margin: 5%;
    width: 92%;
}

#goodtoknow {
    font-weight: 900;
    color: #FFCC2A;
    margin-left: 6%;

}

.goodtoknow li {

    padding: 1%;
}
.btn{
    padding: 10px;
    font-family: mulish;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 16px;
    background-color: white;
    color: #67C3F3;
    text-decoration: none;
    font-weight: bold;
    width: 180px;
    cursor: pointer;
    text-align: center;   
}
